<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Search</title>
</head>
    <body>
        <h2>List of names</h2>
        <table data-th-unless="${#lists.isEmpty(rsvpNameList)}" border="1">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Email:</th>
                    <th>Phone:</th>
                    <th>Confirmation Date:</th>
                    <th>Comments:</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="person : ${rsvpNameList}">
                    <td><span data-th-text="${person.name}"></span> </td>
                    <td><span data-th-text="${person.email}"></span> </td>
                    <td><span data-th-text="${person.phone}"></span> </td>
                    <td><span data-th-text="${person.date}"></span> </td>
                    <td><span data-th-text="${person.comments}"></span> </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>